
body {
    margin: 0;
    padding: 0;
}
.cam{
    height: 60px;
    margin-left: 10px;
}
.barra{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(74, 74, 165);
    color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-decoration: none;
}
li{
    margin-left: 60px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
.barra a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.teste{
    display: flex;
    height: 500px;
    justify-content: space-around;
    background-color:rgb(74, 74, 165);
    align-items: center;
    background-image: url('/fotos/correndo.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
}

h1{
    font-size: 100px;
    color: rgb(70, 70, 70);
    text-align: right;
}
.teste img{
   height: 400px;
   margin-right: 20px;
   margin-left: 20px;
}
main{
    margin: 0px 100px;
}
section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}
figure img{
height: 200px;
}
figcaption{
    margin: 10px 0px ;
}
.logofooter{
    height: 60px;
    margin-left: 10px;
}
footer{
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    color: white;
}
.fotoprincipal{
    display: flex;
    justify-content: center;
    height: 500px;
}
.imgfooter{
    display: flex;
    justify-content: center;
}
button{
    cursor: pointer;
}
@media screen and (max-width: 428px){
    .teste{
        height: 200px;
    }
    main{
        margin: 0px 24px;
    }
    figure img{
        height: 100px;
        }
}